<body class="text-center">

    <form class="form-signin">
        <h1 class="display-3 mb-3 font-weight-normal">My-Tax</h1>
        
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="text" name="usuario" #usaurio="ngModel" [(ngModel)]="modelo.email" class="form-control"
            placeholder="Eje. xxxxxx" required autofocus>
        <label for="inputPassword" class="sr-only">Clave</label>
        <input type="password" name="pass" #pass="ngModel" [(ngModel)]="modelo.pass" class="form-control"
            placeholder="Eje. @@***" required>

        <button class="btn btn-lg btn-secondary btn-block" (click)="login()">Ingresar</button>

        <p class="mt-5 mb-3 text-muted">&copy; My-Tax - 2020</p>

        <div *ngIf="validacion" class="alert alert-danger" role="alert">
            !Complete el ingreso de sus credenciales¡
        </div>

        <div *ngIf="noUsuario" class="alert alert-danger" role="alert">
            !Las credenciales no son validas, Ingrese nuevamente¡
        </div>
    </form>
</body>