<body>
    <app-cabecera></app-cabecera>

    <div class="container-fluid">
        <div class="row">
            <app-menu (regresar)="onRegresar()"></app-menu>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">


                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">

                                <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de factura"
                                        name="fie" #fie="ngModel" [(ngModel)]="dateInicio" required readonly>
                                    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerInicio></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>RTN</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.rtn" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el rtn
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Número Factura</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.numerofactura" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el número de factura
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Importe Exento</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.importeexento" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el importe exento
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Retención 12%</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.retencion12" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese la retención del 12%
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Monto grabado 15%</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.montograbado15" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el monto grabado 15%
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Total Imppuesto 15%</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.totalimpuesto15" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el monto grabado 15%
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Total Grabado</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.totalgrabado" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el monto grabado 15%
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Honorario</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.honorario" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el monto grabado 15%
                                    </mat-error>
                                </mat-form-field>

                            </div>

                            <div class="col">

                                <mat-form-field class="example-full-width">
                                    <mat-label>Nombre del comercio</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.empresa" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el nombre del comercio 
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>CAI</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.cai" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el CAI
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Importe Exonerado</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.importeexonerado" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el importe exonerado
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Descuento Rebaja</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.descuentorebaja" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese el descuento rebaja
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Retención 1%</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.retencion1" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        Ingrese la retención 1%
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Monto grabajo 18%</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.montograbado18" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Total Impuesto 18%</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.totalimpuesto18" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Monto Total Factura</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.montototalfactura" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Total Neto Recibo</mat-label>
                                    <input matInput name="edt" #edt="ngModel" [(ngModel)]="modelo.totalnetorecibido" required maxlength="250">
                                    <mat-error *ngIf="edt.touched">
                                        
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <button type="button" class="btn btn-sm btn-outline-success"
                                    (click)="onGuardar()">Guardar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    (click)="onCancelar()">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="sidebar-t">
                    <div class="sidebar-sticky-t" style="background-color: whitesmoke;">
                        <ng-container *ngFor="let a of documentolista">
                            <div style="padding: 6px;">
                                <img src="{{a.imagen}}" class="img-fluid">
                            </div>
                        </ng-container>
                    </div>
                </div>



            </main>

        </div>
    </div>
</body>